#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
  font-size: large;
}

a {
  text-decoration: none;
  color: hsla(40, 100%, 37%, 1);
  transition: 0.4s;
}

button {
  cursor: pointer;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 3fr 9fr;
    height: 100vh;
    padding: 0 2rem;
  }
}

