#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
}

body {
	background: #fcfcfa;
}

a {
	text-decoration: none;
	color: hsla(333, 100%, 37%, 1);
	transition: 0.4s;
}
a:hover {
	/* color: hsla(333, 100%, 27%, 1); */
	/* text-decoration: underline; */
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

p {
	margin-bottom: 0.6rem;
}

button {
	cursor: pointer;
}

@media (min-width: 1024px) {
	body {
		display: flex;
		place-items: center;
	}

	#app {
		display: grid;
		grid-template-columns: 3fr 9fr;
		height: 100vh;
		padding: 0 2rem;
	}
}

.manisch {
	font-family: 'Covered By Your Grace', serif;
	font-family: 'Short Stack', serif;
	font-family: 'Nanum Pen Script', serif;
	font-family: 'Architects Daughter', serif;

	color: hsla(199, 100%, 27%, 1);
}
h1, h2, h3, h4, h5, h6,
.german {
	/* UnifrakturCook */
	font-family: 'UnifrakturCook', cursive;
}
.german {
	color: #332 !important;
}

h3.manisch,
h3.german {
	font-size: 2.3rem;
}
