#app {
	max-width: 1280px;
	margin: 0 auto;
}
#app > * {
	margin: 2rem;
}

body {
	background: #fcfcfa;
}

a {
	text-decoration: none;
	color: hsla(333, 100%, 37%, 1);
	transition: 0.4s;
}
a:hover {
	/* color: hsla(333, 100%, 27%, 1); */
	/* text-decoration: underline; */
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin-bottom: 0.5em;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

p {
	margin-bottom: 0.6rem;
}

button {
	cursor: pointer;
}

blockquote {
	font-style: italic;
	background-color: #eee;
	padding: 1rem;
	border-radius: 1rem 0.5rem;
}

kbd {
	background-color: #666;
	color: #fff;
	font-size: 0.9em;
	display: inline-block;
	line-height: inherit;
	padding: 0rem 0.3rem;
	border-radius: 0.3rem;
}

button {
	display: flex;
	align-items: center;
	justify-content: center;
}

button kbd {
	min-width: 22px;
}

@media (min-width: 1024px) {
	body {
		display: flex;
		place-items: center;
	}

	#app {
		display: grid;
		grid-template-columns: 3fr 9fr;
		height: 100vh;
	}
	#app > * {
		margin: 0;
		padding: 2rem;
	}
	#app > main {
		overflow-y: auto;
	}
	
}

.manisch {
	font-family: 'Covered By Your Grace', serif;
	font-family: 'Short Stack', serif;
	font-family: 'Nanum Pen Script', serif;
	font-family: 'Architects Daughter', serif;

	color: hsla(199, 100%, 27%, 1);
}
h1, h2, h3,
.german {
	/* UnifrakturCook */
	font-family: 'UnifrakturCook', cursive;
}
.german {
	color: #532 !important;
}

h3.manisch,
h3.german {
	font-size: 2.3rem;
}
